@import "variables";

.adi-blank-canvas-message {
    width: 340px;

    margin: 110px auto 0;
    padding: 40px;

    background: rgba(201,213,224,0.05);
    border: 3px dashed rgba(176,190,202,0.45);
    border-radius: 15px;

    text-align: center;

    h2, p {
        margin: 0;

        color: $gd-color-state-blank;
        font-size: 22px;
        line-height: 28px;
    }

    h2 {
        font-weight: bold;
    }

    p {
        margin-top: 5px;

        font-weight: normal;
    }

    &:before {
        content: '\e615'; // magic wand icon

        display: block;
        width: 40px;
        height: 55px;

        margin: 0 auto;

        font-family: Indigo;
        font-size: 40px;
        line-height: 40px;
        color: $gd-color-state-blank;
    }
}
