@import "../../node_modules/goodstrap/packages/core/styles/themes/indigo/main";
@import "variables";
@import "bucket_item";

%field-icon {
    &:before {
        content: '';
        display: inline-block;
        position: relative;
        margin: 0 2px 0 3px;

        font-family: Indigo, sans-serif;
        font-size: 15px;
        font-weight: normal;
        line-height: 10px;
        color: $adi-field-icon-color;
        text-transform: none;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.date-field-icon {
    @extend %field-icon;

    &:before {
        top: -1px;
        width: 12px;
        height: 12px;
        margin: -2px 3px;

        background-image: url('./assets/date.svg');
    }
}

.attr-field-icon {
    @extend %field-icon;

    &:before {
        top: -1px;
        width: 18px;
        height: 7px;
        margin: 0 2px 0 3px;

        background-image: url('./assets/attribute.svg');
    }
}

.metric-field-icon,
.fact-field-icon {
    @extend %field-icon;

    &:before {
        top: -1px;
        width: 18px;
        height: 7px;
        margin: 0 2px 0 3px;

        background-image: url('./assets/measure.svg');
    }
}

.adi-bucket {
    margin: 10px 0 0 0;

    border-radius: $adi-bucket-border-radius;

    &:first-of-type {
        margin-top: 0;
    }

    .bucket-title {
        height: 30px;

        border-radius: $adi-bucket-border-radius $adi-bucket-border-radius 0 0;
        border: 1px solid $adi-bucket-border-color;
        border-bottom: 0;

        background-color: $adi-bucket-background-color-mix-white;

        > h3 {
            margin: 0 0 0 30px;
            padding: 2px 0 0 0;

            font-weight: bold;
            font-size: 11px;
            color: $gd-color-state-blank;
            line-height: 26px;
            text-transform: uppercase;
        }

        .bucket-title-icon {
            float: left;
            width: 16px;
            height: 16px;

            position: relative;
            top: 6px;
            left: 6px;

            background-position: center;
            background-repeat: no-repeat;
        }

        // metrics & category buckets are for all visualizations
        @each $viztype in table, column, bar, line {
            &.bucket-title-metrics-#{$viztype} .bucket-title-icon {
                background-image: url('./assets/bucket-title-metrics-#{$viztype}.svg');
            }
            &.bucket-title-categories-#{$viztype} .bucket-title-icon {
                background-image: url('./assets/bucket-title-category-#{$viztype}.svg');
            }
        }

        // stacks bucket is not in table visualization
        @each $viztype in column, bar, line {
            &.bucket-title-stacks-#{$viztype} .bucket-title-icon {
                background-image: url('./assets/bucket-title-stacks-#{$viztype}.svg');
            }
        }
    }

    .bucket-contents {
        border-radius: 0 0 $adi-bucket-border-radius $adi-bucket-border-radius;
        border: 1px solid $adi-bucket-border-color;
        border-top: none;

        box-shadow: $adi-bucket-box-shadow;
    }

    &.bucket-with-warn-message .bucket-contents {
        border-radius: 0;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style-type: none;
    }

    .adi-bucket-invitation-separator {
        margin: 0;

        border: 0;
        border-bottom: 1px solid $adi-bucket-border-color;
    }

    &.has-rounded-corners {
        .adi-bucket-invitation-inner:before {
            border-radius: 0 0 $adi-bucket-border-radius $adi-bucket-border-radius;
        }

        .adi-bucket-item:last-child {
            .adi-bucket-item-header.collapsed,
            .adi-bucket-configuration {
                border-bottom-left-radius: $adi-bucket-border-radius;
                border-bottom-right-radius: $adi-bucket-border-radius;
            }

            &:hover .adi-bucket-item-header.collapsed {
                border-bottom-left-radius: $adi-bucket-border-radius;
            }

            .adi-bucket-item-header.expanded {
                .adi-bucket-invitation-inner:before {
                    border-radius: 0;
                }
            }

            .adi-bucket-configuration {
                box-shadow: none;
            }
        }
    }

    .adi-bucket-invitation-outer {
        padding: 4px;

        .gd-bubble-trigger {
            display: block;
        }
    }

    .adi-bucket-invitation {
        padding: 3px;

        border: 2px dashed rgba(176,190,202,0.45);
        border-radius: 5px;
        background: rgba(201,213,224,0.05);

        text-align: center;
        color: $gd-color-state-blank;
        line-height: 18px;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;

        transition: .2s;

        .adi-bucket-invitation-inner {
            padding: 2px 0 0 0;
            border-radius: $adi-bucket-border-radius;
        }

        &:hover {
            background: rgba(201,213,224,0.10);
            border-color: rgba(176,190,202,0.85);
            color: $gd-color-link;
        }
    }

    .adi-droppable-active,
    &.adi-droppable-active {
       .adi-bucket-invitation {
           border-color: #87CDFF;
           color: $gd-color-text;
           background-color: $adi-dropzone-background-color;
       }

       .adi-bucket-invitation-inner {
           &:before {
               border-color: #87CDFF;
           }

           &:after {
               display: block;
           }
       }
    }

    .adi-stack-warn {
        padding: 10px 10px 8px 10px;

        border: 1px solid $adi-bucket-message-border-color;
        border-top: none;
        border-radius: 0 0 $adi-bucket-message-border-radius $adi-bucket-message-border-radius;

        text-transform: uppercase;
        text-align: center;
        font-size: 11px;
        line-height: 15px;
        font-weight: bold;
        color: $gd-color-text-dimmed;

        background-color: $adi-bucket-message-background-color-mix-white;

        .attr-field-icon:before {
            color: $gd-color-text-dimmed;
        }
    }

    &.adi-droppable-active .adi-stack-warn,
    .adi-stack-warn:hover {
        color: $gd-color-state-blank;

        .attr-field-icon:before {
            color: $adi-field-icon-color;
        }

        .stack-by {
            color: $gd-color-dark;
        }
    }

    &.adi-droppable-hover, .adi-droppable-hover {
        .adi-bucket-invitation, &.adi-bucket-invitation, &.adi-replace-invitation {
            .adi-bucket-invitation-inner {
                color: #fff;
                background-color: $adi-dropzone-active-color;
            }
        }

        &.adi-replace-invitation {
            z-index: 2;

            .adi-bucket-item-header {
                z-index: 2;
            }

            .adi-bucket-invitation-inner {
                display: block;

                background-color: $adi-dropzone-background-color;

                &:before,
                &:after {
                    display: block;
                }

                &:before {
                    border: 2px dashed $adi-dropzone-active-color;
                }
            }
        }
    }
}

.adi-bucket-item {
    position: relative;

    padding: 0;
    margin: -1px; // so the border can overlay the border of whole bucket

    border: 1px solid transparent; // only for bottom, left & right
    color: #000;

    .adi-bucket-item-header {
        @extend %adi-bucket-item;

        position: relative;

        min-height: 27px;

        padding: $adi-bucket-item-header-padding 10px $adi-bucket-item-header-padding 33px;
        margin: -1px;

        overflow: visible;
        text-overflow: ellipsis;
        white-space: normal;
        line-height: 18px;

        border: 1px solid $adi-bucket-border-color;
        border-bottom-color: transparent;

        transition: .2s;
        transition-delay: .1s;
        transition-property: margin-left, padding-left, border-radius, background-color, border-color;

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 17px;

            margin: 6px 0 5px;

            content: '';
            background: url('./assets/icon-drag-field.svg') repeat-y center top;
            opacity: 0;

            transition: .2s;
            transition-delay: .1s;
            transition-property: opacity;
            transition-timing-function: ease-in;
        }

        > h4 {
            display: inline-block;
            position: relative;
            top: 4px;
            max-width: 172px;

            margin: 0 3px 3px 0;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            vertical-align: middle;

            font-size: 13px;
            font-weight: normal;
        }

        .adi-catalogue-item > div {
            overflow: visible;
        }

        .adi-attribute-filter-label {
            font-size: 11px;
        }
    }

    + .adi-bucket-item {
        .collapsed {
            border-top-color: transparent;
        }
    }

    .expanded,
    .collapsed {
        border-color: $adi-bucket-border-color;

        &:before {
            display: inline-block;
            position: relative;
            top: 5px;
            margin-left: -19px;
            margin-right: 9px;

            content: '\e611';

            font-family: Indigo, sans-serif;
            font-weight: normal;
            font-size: 15px;
            line-height: 16px;

            color: $gd-color-state-blank;

            transition: .2s;

            // Fix webkit transform flickering bug: http://www.sitepoint.com/fix-chrome-animation-flash-bug/
            -webkit-backface-visibility: hidden;
        }
    }

    .expanded {
        font-weight: bold;

        border: 1px solid $adi-bucket-item-active-border-color;
        box-shadow: $adi-bucket-box-shadow;

        > h4 {
            font-weight: bold;
        }

        &:before {
            color: $gd-color-link;
            @include transform-rotate(90);
        }
    }

    .adi-bucket-configuration {
        padding: 6px 12px 8px;

        line-height: 16px;
        font-size: 12px;

        background-color: $adi-bucket-configuration-background-color-mix-white;
        box-shadow: inset 0 -1px 2px 0 rgba(20,56,93,0.10);

        z-index: 1;

        label {
            display: block;
            margin: 7px 0 0 0;

            color: $gd-color-label;

            &:first-child {
                margin-top: 0;
            }
        }

        label.checkbox {
            margin-left: 17px;

            input {
                float: left;
                margin: 2px 0 0 -17px;
            }
        }

        label.select select {
            margin-left: 3px;
        }

        label.is-disabled {
            color: $gd-color-disabled;
        }

        .attribute-filters-wrapper {
            margin: 5px 0;
            padding: 5px 0;

            border-top: 1px solid #DDE4EB;
            border-bottom: 1px solid #DDE4EB;

            h2 {
                margin-top: 1px;
                margin-bottom: 2px;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 10px;
                color: $gd-color-state-blank;
            }

            .button-link.icon-plus {
                height: auto;
                padding-left: 24px;

                color: $gd-color-text;
                font-size: 12px;

                &:after {
                    left: 2px;
                    right: auto;

                    font-size: 15px;
                    color: $gd-color-highlight !important;
                }

                &,
                &:hover {
                    &,
                    .button-text {
                        text-decoration: none;
                    }
                }
            }
        }

        .adi-catalogue-item {
            > div:before {
                margin-left: 0;
                margin-right: 5px;
            }
        }

        .metric-attribute-filter-wrapper {
            display: flex;
            justify-content: space-between;

            > div {
                flex-grow: 1;
            }

            .adi-filter-button {
                max-width: 182px;
            }

            .remove-attribute-filter {
                flex: 0 0 auto;
                width: 23px;
                margin-top: -3px;
                margin-bottom: -5px;

                &:before {
                    left: 0;
                    font-size: 14px;
                }
            }
        }

        .adi-filter-button,
        .button-link.icon-plus {
            height: auto;
            margin-left: -7px;
            padding: 2px 5px;

            border: 1px solid transparent;
            border-radius: $adi-bucket-border-radius;

            color: $gd-color-text;
            line-height: 18px;

            &:hover,
            &.is-active {
                border-color: $adi-bucket-item-active-border-color;
                box-shadow: 0 1px 1px 0 rgba(20,56,93,0.15), inset 0 -1px 0 0 rgba(177,193,209,0.60);
                background-color: #F5F8FA;
            }

            &:active,
            &.is-active {
                background-image: linear-gradient(-179deg, #DEE6EF 0%, #ECF0F5 100%);
                border: 1px solid rgba(31,52,73,0.20);
                box-shadow: inset 0 1px 0 0 rgba(177,193,209,0.65);
            }

            label {
                text-align: left;
                color: $gd-color-text;
            }
        }

        .adi-filter-button {
            position: relative;
            display: block;
            padding-right: 18px;

            &.adi-dragged-item,
            &.is-active,
            &:hover,
            .button-text {
                &:before {
                    display: none;
                }
            }

            &:after {
                position: absolute;
                top: 0;
                right: 5px;
                bottom: 0;
            }
        }

        &.date-granularity {
            margin-top: 0;
            padding-top: 12px;
            border-top: 1px solid #DDE4EB;

            .select {
                display: flex;
                align-items: center;
                margin-top: 7px;
                white-space: nowrap;

                > span {
                    flex: 0 0 auto;
                }

                .adi-date-dataset-switch, .adi-date-granularity-switch {
                    flex: 1 1 auto;
                    max-width: none;
                    margin-left: 10px;
                    overflow: hidden;

                    button {
                        width: 100%;
                    }
                }
            }
        }

        &.adi-metric-bucket-item-configuration {
            z-index: 2;
            margin: 0 -1px -1px;

            border: 1px solid $adi-bucket-item-active-border-color;
        }
    }

    &.adi-dragged-item {
        width: 218px;

        background: rgba(255,255,255,0.95);
        border: 1px solid rgba(201,213,224,0.50);
        box-shadow: 0 1px 3px 0 rgba(20,56,93,0.10), 0 2px 9px 0 rgba(20,56,93,0.15);
        border-radius: 2px;

        list-style-type: none;
    }

    .adi-bucket-invitation-inner {
        display: none;
    }

    &.adi-replace-invitation {
        z-index: 1;

        .adi-bucket-item-header {
            transition-property: none;
            transition-duration: 1ms;
        }

        .adi-bucket-invitation-inner {
            display: block;
            position: absolute;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -2px;

            z-index: 3;

            margin: 0;

            color: transparent;

            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            line-height: 20px;

            &:before,
            &:after {
                content: '';
                display: none;
                position: absolute;
                width: auto;

                margin: 0;
            }

            &:before {
                display: block;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                border: 2px solid #87cdff;
            }

            &:after {
                top: 4px;
                left: 4px;
                right: 4px;
                bottom: 4px;
                z-index: -1;

                border-radius: $adi-bucket-border-radius;

                background-color: $adi-dropzone-active-color;
            }

            span {
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                max-width: none;
                margin-top: -10px;
            }
        }

        .collapsed {
            .adi-bucket-item-header {
                border-bottom-color: transparent;
            }
        }
    }

    &:hover, &.adi-dragged-item {
        z-index: 1;

        &:not(.adi-replace-invitation) {
            .adi-bucket-item-header {
                margin-left: -7px;
                padding-left: 39px;

                border-color: $adi-bucket-item-active-border-color;
                border-top-left-radius: $adi-bucket-border-radius;
                border-bottom-left-radius: $adi-bucket-border-radius;
                background-color: #fff;
            }
        }
    }

    &:hover {
        .adi-bucket-item-header {
            box-shadow: 0 1px 2px 0 rgba(20,56,93,0.10);

            &:before {
                color: $gd-color-link;
            }

            &:after {
                opacity: 1;
                transition-timing-function: ease-out;
            }
        }
    }

    &.adi-dragged-item {
        opacity: .95;

        .adi-bucket-configuration {
            display: none;
        }

        .adi-bucket-item-header {
            &:after {
                background-image: url('./assets/icon-drag-field-dragged.svg');
                opacity: 1;
            }
        }
    }

    .adi-bucket-item-header {
        .adi-catalogue-item {
            position: relative;
            top: 1px;

            overflow: visible;

            line-height: 27px;

            > div {
                margin-left: -25px;
                overflow: hidden;
            }

            div {
                font-size: 13px;
                color: #000;

                &:before {
                    position: relative;
                    top: 1px;
                    margin-right: 3px;
                }
            }
        }
    }
}

.adi-bucket {
    .adi-bucket-item {
        .adi-bucket-item-header {
            @include grabbable;

            &:after {
                @include grabbable;
            }

            &.expanded, &.collapsed {
                cursor: pointer;
            }
        }
        .adi-filter-button {
            &:before {
                @include grabbable;
            }

            cursor: pointer;
        }
    }
}

.adi-dragged-item {
    @include grabbing;
}

.shortened-label {
    display: flex;

    div.text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    div.count {
        flex: 0 0 auto;
        margin-left: 10px;
        display: block;
    }
}

.adi-aggregation-wrapper {
    position: relative;
    width: 194px;

    font-size: 12px;
    color: $gd-color-text;
    line-height: 24px;

    overflow: hidden;
    text-overflow: ellipsis;

    .adi-catalogue-item  {
        position: relative;

        > div {
            padding-right: 20px;
        }
    }

    .inlineBubbleHelp {
        width: auto;
    }
}

.adi-bucket-select {
    > span {
        margin-left: 3px;
        line-height: inherit;

        &:first-child {
            margin-left: 0;
        }
    }

    select {
        width: 150px;
    }
}

.adi-filter-button {
    display: inline-block;
    box-sizing: border-box;
}

.no-date-available {
    position: relative;

    .adi-bucket-configuration &.adi-filter-button,
    .adi-date-filter & {
        color: $gd-color-disabled;
        font-size: 11px;
        font-weight: bold;
    }

    .adi-bucket-configuration &.adi-filter-button {
        text-align: center;
        white-space: normal;
        text-transform: uppercase;

        &,
        &:hover,
        &:active {
            padding: 0;
            border: 0;
            box-shadow: none;
            background: none;
            cursor: default;
        }
    }

    .adi-date-filter & {
        padding-right: 8px;

        .button-text span {
            position: relative;
            top: 1px;
        }
    }
}

.adi-date-datasets-list {
    .gd-list-item-header {
        padding: 6px 10px 6px;
    }
}
