@import "variables";
@import "bucket_item";

$bubble-trigger-buffer-zone: 6px;

.infinite-list {
    overflow: auto;
    position: relative;
}

.adi-catalogue-section {
    width: 229px;
    height: 100%;
}

%catalogue-panel {
    position: absolute;
    top: 58px;
    left: 0;
    bottom: 0;
    z-index: 200;
    box-sizing: border-box;
    width: 229px;
}

.adi-catalogue-panel {
    @extend %catalogue-panel;

    display: flex;
    flex-direction: column;

    .adi-catalogue,
    .react-catalogue-root,
    .react-catalogue-root > div {
        width: inherit;
    }

    .adi-catalogue {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }

    .react-catalogue-root {
        display: flex;
        flex: 1 1 auto;

        > div {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
        }
    }

    .infinite-list-content {
        margin: 0;
        position: absolute;
    }

    .catalogue-search {
        flex: 0 0 29px;
        margin: 0 15px;
    }

    .adi-catalogue-filter {
        flex: 0 0 25px;
        margin-top: 10px;

        .gd-tabs {
            margin-left: 14px;
            margin-right: 14px;
            white-space: nowrap;

            .gd-tab:last-child {
                margin-right: 0;
            }
        }
    }

    .catalogue-list-container {
        display: flex;
        flex: 1 1 auto;
        margin: 0;

        .catalogue-list {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            width: 100%;
        }

        .fixedDataTableLayout_main,
        .public_fixedDataTableRow_main,
        .fixedDataTableCellLayout_main {
            border: none;
        }

        .public_fixedDataTableRow_highlighted,
        .public_fixedDataTableCell_main,
        .public_fixedDataTableRow_main {
            background: transparent;
        }

        .public_fixedDataTableCell_cellContent {
            padding: 0;
        }

        .fixedDataTableLayout_bottomShadow {
            display: none;
        }

        .fixedDataTableLayout_topShadow {
            margin: 0 14px;
            background: radial-gradient(center top, ellipse farthest-side, rgba(0, 0, 0, .15), transparent);
        }

        .public_fixedDataTableRow_main,
        .fixedDataTableCellGroupLayout_cellGroup,
        .public_fixedDataTableCell_main {
            overflow: visible;
        }
    }

    .adi-no-items,
    .adi-no-objects {
        flex: 1 0 auto;
        box-sizing: border-box;
        width: 100%;
        padding: 18px 35px 0 60px;

        text-align: left;
        word-wrap: break-word;
        overflow: hidden;

        color: $gd-color-state-blank;
        font-size: 14px;

        &:before {
            content: '\E62B';

            display: block;
            float: left;
            width: 20px;
            height: 20px;

            margin-left: -30px;

            font-family: Indigo;
            font-size: 18px;
            line-height: 18px;
            text-align: right;
            color: $gd-color-state-blank;
        }

        p {
            margin: 0;
        }
    }

    .csv-link-section {
        flex: 0 0 auto;

        border-top: 1px solid #DDE4EB;
        box-shadow: 0 -1px 2px 0 rgba(20,56,93,0.10);

        line-height: 41px;
        background-color: #fff;

        >span {
            display: block;
        }

        .button {
            display: block;
            height: inherit;

            border-left: 10px solid #fff;

            color: $gd-color-highlight;
            line-height: inherit;

            background-color: #fff;

            &:before {
                color: inherit;
            }
        }

        .button,
        .button-text {
            text-decoration: none;
        }
    }

    footer {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        height: 30px;
        padding: 0 15px;

        color: $gd-color-state-blank;
        font-size: 12px;
        white-space: nowrap;

        background-color: #F8FAFB;

        z-index: 1;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            width: 200px;
            height: 10px;

            border-radius: 50%;
            box-shadow: 0 -2px 4px 0 rgba(20,56,93,0.10);

            z-index: -1;
        }

        div {
            border-top: 1px solid #DDE4EB;
            line-height: 29px;
            background-color: #F8FAFB;
        }

        .gd-spinner {
            margin: 5px 5px 0 0;
            border: none;
        }
    }

    footer.availability-spinner > div {
        display: flex;
    }
}

.catalogue-list-container .gd-spinner {
    display: block;
    margin: 20px auto 0;
}

.adi-catalogue-header {
    padding: 0;
    @include clearfix;

    position: absolute;
    left: 15px;
    bottom: 3px;

    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    font-weight: normal;
    color: $gd-color-state-blank;
}


.adi-catalogue-list .adi-catalogue-item {
    position: relative;
    box-sizing: border-box;
    height: 24px;
    margin: 0 15px 0 16px;

    &.type-date {
        margin-top: 10px;
    }
    &.adi-catalogue-item-hover {
        box-shadow: 0 1px 3px 0 rgba(20,56,93,0.10), 0 2px 9px 0 rgba(20,56,93,0.15);
        border-radius: 3px;
        background-color: #fff;
        border-color: rgba(201,213,224,0.50);

        .inlineBubbleHelp {
            display: block;
        }

        > div {
            right: 24px;
        }
    }

    > div {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        overflow: hidden;
        text-overflow: ellipsis;
    }

    .inlineBubbleHelp {
        display: none;
   }
}

.adi-catalogue-list {
    flex: 1 1 auto;
    min-width: initial;
    overflow: hidden;

    .infinite-list-content {
        width: 100%;
    }
}

.adi-catalogue-item {
    @extend %adi-bucket-item;

    padding: 0;

    background: transparent;

    color: $gd-color-text;
    font-weight: normal;
    line-height: 24px;

    > div {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &.not-available > div {
        color: $gd-color-disabled;

        &:before {
            color: $gd-color-disabled;
        }
    }

    .gd-bubble-trigger,
    .inlineBubbleHelp {
        position: absolute;
        top: 0;
        bottom: 0;
    }

    .gd-bubble-trigger {
        right: 0 - $bubble-trigger-buffer-zone;
    }

    .inlineBubbleHelp {
        right: $bubble-trigger-buffer-zone;
        width: 24px;

        line-height: inherit;
        text-align: center;

        &:before {
            content: "\e60b";
        }
    }
}

.adi-catalogue-list {
    .adi-catalogue-item {
        @include grabbable;
    }
}

.adi-catalogue-item.adi-dragged-item {
    width: 200px;
    height: 25px;

    padding: 0;

    background: rgba(255,255,255,0.95);
    border: 1px solid rgba(201,213,224,0.50);
    box-shadow: 0 1px 3px 0 rgba(20,56,93,0.10), 0 2px 9px 0 rgba(20,56,93,0.15);
    border-radius: 3px;

    font-weight: normal;
    color: #000;
    line-height: 25px;

    .inlineBubbleHelp {
        display: none;
    }
}

.adi-catalogue-item-details {
    width: 220px;
    word-wrap: break-word;

    .bubble-content .content {
        padding: 5px;

        h3 {
            margin: 0;

            font-size: 14px;
            color: $gd-color-text;
        }

        p.adi-item-description {
            margin: 11px 0 0 0;

            font-size: 13px;
            color: $gd-color-state-blank;
            font-weight: normal;
            line-height: 16px;
        }

        h4 {
            margin: 13px 0 0 0;

            font-size: 10px;
            font-weight: normal;
            color: $gd-color-state-blank;
            text-transform: uppercase;
        }

        p {
            font-size: 12px;
            line-height: 20px;
        }

        p.adi-item-type {
            text-transform: capitalize;
        }

        p.adi-metric-maql span.adi-maql-segment {
            font-weight: bold;

            &.fact { color: $maql-fact; }
            &.metric { color: $maql-metric; }
            &.attribute { color: $maql-attribute; }
            &.attributeDisplayForm { color: $maql-attributeDisplayForm; }
            &.attribute_element { color: $maql-attribute_element; }
        }

        .adi-attr-elements-more {
            color: $gd-color-state-blank;
        }
    }
}

.adi-trash-panel {
    @extend %catalogue-panel;
}
