.adi-editor-header {
    display: flex;
    position: absolute;
    top: 0;
    left: 15px;
    right: 10px;
    height: 40px;
    padding-top: 8px;

    &.without-dataset-picker {
        .left-actions-wrapper {
            margin-left: 214px;
        }
    }

    .left-actions-wrapper {
        display: flex;
        flex: 0 1 auto;
        margin-left: 225px;
        margin-right: 20px;
        overflow: hidden;
    }

    .export-wrapper {
        flex: 1 0 auto;
        text-align: right;

        .gd-button-group {
            display: inline-block;

            .button {
                height: 32px;
                width: 36px;

                // overload the goodstrap style
                box-shadow: 0 1px 2px 0 rgba(20, 56, 93, 0.15) !important;

                &.disabled {
                    box-shadow: none !important;
                }

                &:before {
                    // icons are by default too small
                    font-size: 18px;
                }
            }
        }

        .reset, .export-to-report {
            margin-left: 10px;
        }

        .report-select {
            display: inline-block;
            margin-right: 10px;
            margin-left: 10px;
        }

        .save-button {
            min-width: 90px;
            text-align: center;
        }
    }

    h1 {
        position: absolute;
        top: 16px;
        left: 0;

        margin: 0;
        font-size: 20px;
        color: #000000;
        line-height: 24px;
    }

    .report-title {
        flex: 1 1 auto;
        border: 1px solid transparent;
        height: 24px;
        padding: 4px 16px 2px 8px;
        color: #000000;
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
        width: auto;
        min-width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        textarea {
            width: 250px;
            border: none;
            min-height: 24px;
        }

        &:hover,
        &.is-editing {
            background: rgba(255,255,255,0.95);
            border: 1px solid rgba(177,193,209,0.50);
        }

        &.placeholder {
            color: #94A1AD;
        }
    }

    .unsaved-notification {
        flex: 0 0 auto;
        margin-left: 12px;
        border: 1px solid transparent;
        height: 24px;
        padding: 7px 0 2px;
        color: #6D7680;
        font-size: 14px;
        line-height: 24px;
        vertical-align: inherit;
        white-space: nowrap;
    }
}
