@import "variables";

.adi-editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    min-width: 1100px;
    min-height: 545px;
}

.gd-header ~ .adi-editor {
    top: 44px;
}

.adi-editor {
    // make sure recommendations are clickable and not overlapped by canvas attribute replace shortcut
    .adi-recommendations-container {
        z-index: 15;
    }

    // make sure the shorcuts overlap the canvas
    .adi-shortcuts-panel {
        z-index: 15;
    }

    // make sure canvas message overlays highcharts container
    // which has z-index 3000 (and its tooltip with 3005)
    .adi-canvas-message {
        z-index: 3100;
    }

    // make sure computing overlays everything on canvas
    .adi-computing {
        z-index: 3200;
    }
}

.adi-editor-main {
    display: flex;
    position: absolute;
    top: 47px; // 48px - 1px border that should be part of the header
    right: 0;
    bottom: 0;
    left: 229px; // 230px - 1px border as above
    padding: 10px;
    padding-left: 0;


    background-color: #fff;
    border-left: 1px solid #DDE4EB;
    border-top: 1px solid #DDE4EB;
}

.adi-editor-right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    width: calc(100% - 250px);
}

.adi-editor-canvas {
    position: relative;
    flex: 1 1 auto;
    margin-top: 10px;
}

.adi-editor-canvas.is-report-ready {
    display: flex;
}

.adi-report-visualization {
    display: flex;
    flex: 1 1 auto;
}

.adi-chart-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    > div {
        height: 100%;
    }
}

.adi-chart-container-narrow {
    right: 305px;

    @media #{$narrowDevice} {
        right: 0;
        bottom: 230px;
    }
}

.adi-shortcuts-panel {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    max-width: 700px;
    min-height: 350px;

    margin: 0 auto;

    background-color: #fff;
}

.adi-buckets-panel {
    display: flex;
    flex: 0 0 250px;
    flex-direction: column;
    z-index: 100;
    width: 250px;

    .adi-buckets-scroller {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: 0 0 0 10px;
    }
}

.adi-canvas-message {
    width: 450px;
    position: relative;

    margin: 70px auto 0 auto;
    padding-left: 70px;

    h2 {
        margin: 20px 0 10px;

        font-size: 22px;
        font-weight: normal;
        color: $gd-color-state-blank;
    }

    p, ul {
        margin: 10px 0;

        font-size: 14px;
        line-height: 21px;
        color: $gd-color-state-blank;
    }

    a {
        color: $gd-color-state-blank;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            color: $gd-color-text;
        }
    }

    ul {
        margin: 0;
        list-style-type: disc;
        padding-left: 40px;
    }

    &:before {
        content: '\e637'; // default icon is alert

        display: block;
        float: left;
        width: 50px;
        height: 70px;

        margin-left: -70px;
        margin-top: 10px;

        font-family: Indigo;
        font-size: 40px;
        text-align: right;
        color: $gd-color-state-blank;
    }

    &.adi-canvas-message-empty-result:before {
        content: '\e63c'; // filter icon
    }

    &.adi-canvas-message-too-many-data-points:before {
        content: '\e608'; // raining cloud icon
    }
}

.adi-computing {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;

    .adi-computing-inner {
        width: 230px;
        height: 100px;

        box-sizing: border-box;

        margin: 50px auto 0 auto;
        padding: 39px 0 0 95px;

        background-color: #fff;
        border-radius: 7px;

        font-size: 16px;
        color: $gd-color-label;
        line-height: 22px;

        &:before {
            content: '';

            display: block;
            float: left;
            width: 40px;
            height: 38px;

            margin: -10px 0 0 -60px;

            // using background-position because it wont be sprited anyway, given it is GIF
            background: url('./assets/computing.gif') -40px -45px no-repeat;
        }
    }

    // Hide recommendation shadows when computing overlay is visible
    ~ .adi-recommendations-container {
        .adi-recommendation {
            box-shadow: none;
        }
    }
}

.adi-bucket-list {
    flex: 1 1 auto;
    width: 220px;
}
