// Behold, here are all the Foundation components.
$include-html-classes: false;
$include-html-grid-classes: true;

@import "foundation/components/_grid";
@import "foundation/components/_block-grid";

// Hide all metamorphs accidentaly shown inside layout selectors
script {
    display: none !important;
}
