@import "./variables";

.open-visualizations {
    padding-top: 10px;

    .gd-visualizations-list-item {
        margin: 0;
        padding: 5px 10px;
        border: none;
        border-radius: 0;
        box-shadow: none;

        &:hover {
            background-color: $is-focused-background;

            .content .date {
                color: $is-focused-color;
            }
        }

        &.is-selected {
            &:hover {
                background-color: $gd-color-highlight-dimmed;
            }
        }
    }

    .invisible-rows {
        .gd-visualizations-list-item {
            padding-right: 15px;
        }
    }

    .searchfield {
        margin-top: 2px;
    }
}

.name-insight-dialog-input {
    margin-top: 20px;
}
