@import "./variables";

$adi-recommendation-border-color: rgba(20,56,93,0.15);

.adi-recommendations-container {
    // position relative is needed because without it the z-index
    // does not work
    position: relative;

    float: right;
    width: 285px;

    @media #{$narrowDevice} {
        position: absolute;
        left: 0;
        bottom: 0;

        width: auto;
        min-width: 655px;
    }
}

.adi-recommendations-title {
    margin-bottom: 0.5em;

    font-weight: 700;
    font-size: 11px;
    color: #94A1AD;
}

.adi-recommendation-attribute-picker {
    .adi-picker-loading {
        background: #fff;
        background-image: url('./assets/loading-32.gif');
        background-position: center center;
        background-repeat: no-repeat;
        height: 250px;
        margin: 6px 0;
        min-width: 230px;
    }
}

.adi-recommendation {
    position: relative;

    padding: 20px 15px;
    margin-bottom: 20px;

    background-color: #fff;

    border: 1px solid rgba(201,213,224,0.50);
    box-shadow: 0px 1px 3px 0px rgba(20,56,93,0.1), 0px 2px 9px 0px $adi-recommendation-border-color;

    @media #{$narrowDevice} {
        width: 245px;
        float: left;
        margin-right: 30px;
    }

    .adi-recommendation-arrow {
        // function of this element is to clip the arrow
        // easiest solution would be to clip the arrow itself
        // but that can not be done, because clip is applied before the transformation
        $height: 30px;
        $width: 17px;

        width: $width;
        height: $height;

        position: absolute;
        left: -$width;
        top: 50%;

        margin-top: -$height/2;

        @media #{$narrowDevice} {
            height: $width;
            width: $height;

            left: 75%;
            top: -2px;
            margin-left: -$width/2;
        }

        overflow: hidden;

        &:before {
            content: '';

            position: absolute;
            left: 8px;
            top: 7px;

            @media #{$narrowDevice} {
                left: 7px;
                top: 8px;
            }

            height: 18px;
            width: 18px;

            background: white;

            @include transform-rotate(-45);

            box-shadow: -2px -2px 2px 0px rgba(20, 56, 93, 0.1), 0px 2px 9px 0px rgba(20, 56, 93, 0.15);
        }
    }
}

.adi-recommendation-content {
    margin: 0 0 0 100px;
    line-height: 1.7rem;

    > h3 {
        margin: 0 0 0.5em;
        font-weight: 700;
        line-height: 1.4rem;
    }

    > button {
        margin-top: 1em;
    }
}

.adi-recommendation-ico {
    content: '';
    position: absolute;
    top: 22px;
    left: 20px;
}

.adi-recommendation-trending {
    .adi-recommendation-ico {
        width: 77px;
        height: 69px;

        background: url('./assets/recomm-trending.svg') no-repeat;
    }
}

.adi-recommendation-comparison {
    .adi-recommendation-ico {
        width: 78px;
        height: 64px;

        background: url('./assets/recomm-comparison.svg') no-repeat;
    }

    .adi-attribute-switch {
        width: 140px;
        margin-top: 5px;
    }
}

.adi-recommendation-metric-with-period {
    .adi-recommendation-ico {
        width: 94px;
        height: 64px;

        background: url('./assets/recomm-comparison-with-metric.svg') no-repeat;
    }
}

.adi-recommendation-comparison-with-period {
    .adi-recommendation-ico {
        width: 88px;
        height: 65px;

        background: url('./assets/recomm-comparison-with-period.svg') no-repeat;
    }
}

.adi-recommendation-contribution {
    .adi-recommendation-ico {
        width: 91px;
        height: 81px;

        background: url('./assets/recomm-percents.svg') no-repeat;
    }
}

.adi-recommendation-contribution,
.adi-recommendation-metric-with-period,
.adi-recommendation-comparison-with-period {
    .adi-recommendation-content {
        margin: 0 0 0 120px;
    }
}
