Vojtech Jasny <vojtech.jasny@gooddata.com> Vojtech Jasny <voy@voy.cz>
Adam Kloboucnik <adam.kloboucnik@gooddata.com> Adam Kloboucnik <a.kloboucnik@gmail.com>
Martin Cermak <martin.cermak@gooddata.com> Martin Cermak <crudo@crudo.cz>
Jan Pradac <jan.pradac@gooddata.com> Jan Pradac <jan.pradac@gmail.com>
Jan Pradac <jan.pradac@gooddata.com> Jan Pradac <bredy@users.noreply.github.com>
Petr Benes <petr.benes@gooddata.com> Petr Benes <xbenes@gmail.com>
Zdenek Kostal <zdenek.kostal@gooddata.com> Zdenek Kostal <kostal.zdenek@gmail.com>
Vaclav Bohac <vaclav.bohac@gooddata.com> Vaclav Bohac <bohac.v@gmail.com>
Daniel Prentis <daniel@salsitasoft.com> Daniel Prentis <dprentis@seznam.cz>
Tomáš Vojtášek <tomas.vojtasek@gooddata.com> Tomáš Vojtášek <vojtasek.tomas@seznam.cz>
Raul Calvo Martin <raul.martin@gooddata.com> Raul <rauluccocm@gmail.com>
Raul Calvo Martin <raul.martin@gooddata.com> Raul <raul.martin@gooddata.com>
Jiri Zajic <jiri.zajic@gooddata.com> Bugs Bunny <jiri.zajic@mensa.cz>
Jiri Zajic <jiri.zajic@gooddata.com> Bugs Bunny <jiri.zajic@gooddata.com>
Peto Lisy <peter.lisy@gooddata.com> peto-lisy <peter.lisy@gooddata.com>
Jan Sliacky <jan.sliacky@gooddata.com> Taskkill <Taskkill@users.noreply.github.com>
